.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  animation: fadeInTimeline linear;
  animation-timeline: scroll();
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInTimeline {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
